body {
    font-family: 'Open Sans', sans-serif;
}


/* 3 cards about zoom meetings */
.card_wrapper {
    background-color: white;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

p {
    font-size: 20px;
}












/* footer */

.footer {
    font-size: 12px;
}