body {
    font-family: 'Open Sans', sans-serif;
}

a {
    color: rgb(29,114,150);
}
a:hover {
    color: rgb(21, 81, 107);
}
a.contact_link_big:hover {
    color: rgb(23, 72, 94);
    background-color: rgb(23, 72, 94);
}
a.contact_link_small:hover {
    color: rgb(29,114,150);
}




/* fonts sizes */
.bigger_than_h1 {
    font-size: 60px;
}
.date_font {
    font-size:14px;
    color:rgb(116, 116, 116);
}






/* 3 cards about zoom meetings */
.card_wrapper {
    background-color: white;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

p {
    font-size: 20px;
}

.contact_link_big {
    color: rgb(46, 46, 46);
    text-decoration: none;
}

.contact_link_small {
    color: white;
    text-decoration: none;
}

.blue_text {
    color: rgb(23, 72, 94)
}





.map_responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}
.video_responsive {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
  }
.video_responsive iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }








/* footer */

.footer {
    font-size: 12px;
}